$vibrant-light: #FB934E;
$vibrant: #F22840;
$vibrant-dark: #930542;
$vibrant-gradient: linear-gradient(170deg, $vibrant-light, $vibrant, $vibrant-dark);

$primary: #000000;
$secondary: #626262;

$background: #f8f8f8;
