// Google Fonts: 'Montserrat Alternates'
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
// Google Fonts: 'Montserrat'
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// Google Fonts: 'Source Code Pro'
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import "colors";


html,
body {
    padding: 0;
    margin: 0;
    background: $background !important;
    $color: $primary !important;
}
