@import "colors";
@import "presets";


.carouselWrapper {
    width: 100vw;
    height: fit-content;
}

@mixin Section() {
    max-width: 500px;
    margin: 20px;
    color: $secondary;
    text-align: justify;
    a, h1 {
        @include VibrantGradientText();
        user-select: none;
        text-align: left;
    }
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.about {
    @include Section();
}
