@import "colors";
@import "presets";


.carouselWrapper {
    width: 100vw;
    height: fit-content;
}

@mixin Section() {
    max-width: 500px;
    margin: 20px;
    color: $secondary;
    text-align: justify;
    a, h1 {
        @include VibrantGradientText();
        user-select: none;
        text-align: left;
    }
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.about {
    @include Section();
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 20px 10px 20px;
    font-size: 12px;
    font-family: "Source Code Pro", serif;
    color: #606060;
    a {
        color: $vibrant;
        text-decoration: none;
    }
}
